@mixin flex($x: flex, $y: center, $z: center) {
  display: $x;
  justify-content: $y;
  align-items: $z;
}

$Lime: hsl(61, 70%, 52%);
$lighter-lime: hsl(61, 69%, 79%);
$Red: hsl(4, 69%, 50%);
$gray: gray;
$White: hsl(0, 0%, 100%);
$Slate-100: hsl(202, 86%, 94%);
$Slate-300: hsl(203, 41%, 72%);
$Slate-500: hsl(200, 26%, 54%);
$Slate-700: hsl(200, 24%, 40%);
$Slate-900: hsl(202, 55%, 16%);

@mixin lg-screen {
  @media (max-width: 1000px) {
    @content;
  }
}

@mixin small-screen {
  @media (max-width: 600px) {
    @content;
  }
}
